:root {
  --color-background: var(--color-linen);
  --color-border: var(--color-blue);
  --color-row-alternating: var(--color-blue-lighter);
  --color-row-highlight: var(--color-blue-light);
  --color-text: var(--color-blue);

  --font-code: var(--font-ibm-plex-mono), monospace;
  --font-display: var(--font-iosevka-aile), sans-serif;
  --font-tabular: var(--font-ibm-plex-mono), monospace;
  --font-text: var(--font-atkinson), var(--font-iosevka-aile), sans-serif;

  --color-blue: #3242bc;
  --color-blue-light: #c1c6ea;
  --color-blue-lighter: #eaecf8;
  --color-linen: #faf2ed;

  --font-atkinson: Atkinson Hyperlegible;
  --font-ibm-plex-mono: IBM Plex Mono;
  --font-iosevka-aile: Iosevka Aile Web;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-text);
  font-size: 20px;
  line-height: 1.5;
  --moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

code, pre {
  font-family: var(--font-code);
  font-weight: 600;
}

h1 {
  font-weight: 200;
}

h1, h2 {
  font-family: var(--font-display);
}

main {
  margin-left: auto;
  margin-right: auto;
  min-width: 20ch;
  max-width: 80ch;
  padding: 1em;
  width: 100%;
}

.avatar img {
  clip-path: circle();
  max-width: 10rem;
  width: 100%;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.posts {
  background-color: white;
  border: 2px solid var(--color-border);
  border-radius: 1em;
  margin: 2em 0;
  padding: 0.5em 2em 1em 2em;
}

.postlist {
  list-style-type: none;
  padding: 0;
}

.postlist-item:not(:last-child) {
  padding-bottom: 0.5em;
}

.postlist-date {
  font-size: 20px;
  padding-left: 0.5em;
}

.home {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em;
}

.tmpl-post table {
  font-family: var(--font-tabular);
  font-weight: 400;
  font-size: 0.9rem;

  overflow: auto;
  white-space: wrap;
  margin: 0;
  padding: 0.2em 0.5em;
  max-width: unset;

  border-collapse: collapse;
  border-spacing: 0;
  border-color: var(--color-border);
  border-style: solid;
  border-width: 0;
}

.tmpl-post table :is(thead, tbody) {
  border-color: inherit;
  border-style: inherit;
  border-width: 0;
}

.tmpl-post table thead {
  border-color: var(--color-border);
}

.tmpl-post table th {
  font-weight: 600;
  border-width: 0 0 2px;
}

.tmpl-post table tr {
  border-color: inherit;
  border-style: inherit;
  border-width: 0;
}

.tmpl-post table td {
  border-width: 0 0 1px;
}

.tmpl-post table :is(th, td) {
  border-color: inherit;
  border-style: inherit;
  background: transparent;
  width: fit-content;
  min-width: 100px;
  padding: 0.5rem;
}

.tmpl-post table :is(th, td):not([align]) {
  text-align: left;
}

.tmpl-post table tr:nth-child(2n) {
  background: var(--color-row-alternating);
}

.tmpl-post table tr:hover {
  background: var(--color-row-highlight);
}

.content-image {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: Iosevka Aile Web;
  font-display: fallback;
  font-weight: 200;
  font-style: normal;
  src:url("../fonts/iosevka-aile-extralight.woff2") format("woff2");
}

@font-face {
  font-family: Iosevka Aile Web;
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
  font-family: Iosevka Aile Web;
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
  src:url("../fonts/iosevka-aile-italic.woff2") format("woff2");
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IBM Plex Mono;
  font-display: fallback;
  font-weight: 600;
  font-style: normal;
  src:url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IBM Plex Mono;
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
}
