:root {
  --blue: #3242bc;
  --linen: #faf2ed;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: var(--blue);
}

body {
  background-color: var(--linen);
  color: var(--blue);
  display: flex;
  font-family: Atkinson Hyperlegible,Iosevka Aile Web,sans-serif;
  font-size: 20px;
  line-height: 1.5;
  --moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: IBM Plex Mono,monospace;
  font-weight: 600;
}

h1 {
  font-weight: 200;
}

h1, h2 {
  font-family: Iosevka Aile Web,sans-serif;
}

header {
  display: flex;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  padding: 1em;
  width: 100%;
}

.avatar img {
  clip-path: circle();
  max-width: 10rem;
  width: 100%;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.posts {
  background-color: white;
  border: 2px solid var(--blue);
  border-radius: 1em;
  margin: 2em 0;
  padding: 0.5em 2em 1em 2em;
}

.postlist {
  list-style-type: none;
  padding: 0;
}

.postlist-item:not(:last-child) {
  padding-bottom: 0.5em;
}

.postlist-date {
  font-size: 20px;
  padding-left: 0.5em;
}

@font-face {
  font-family: Iosevka Aile Web;
  font-weight: 200;
  font-style: normal;
  src:url("../fonts/iosevka-aile-extralight.woff2") format("woff2");
}

@font-face {
  font-family: Iosevka Aile Web;
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
  font-family: Iosevka Aile Web;
  font-weight: 400;
  font-style: italic;
  src:url("../fonts/iosevka-aile-italic.woff2") format("woff2");
}

@font-face {
  font-family: Atkinson Hyperlegible;
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
  font-family: IBM Plex Mono;
  font-weight: 600;
  font-style: normal;
  src:url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2");
}
