<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zoé ✨</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Zoe is now ooze and also a software developer from Montreal, Canada">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <main>
      <header>
        <h1>
          <a href="/">
            <picture class="avatar">
              <img src="img/avatar.jpg" alt="Zoe's avatar" width="160" height="160">
            </picture>
          </a>
        </h1>
      </header>
      <h1>Hi, my name is Zoé!</h1>
      <p>I'm a software developer in Montreal, Canada. I love coffee, I'm a modular synthesizer apprentice, and a mechanical keyboard enthusiast.</p>
      <p>I will write patches to open-source software from time to time. You might find some of those under my <a href="https://github.com/zoeisnowooze">GitHub profile</a>.</p>

      <div class="posts">
        <h2>Posts</h2>
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
      </div>

      <p>You can reach me by <a href="mailto:hello@blorp.dev">email</a>, <a href="https://signal.me/#eu/21oZVmw1GZJWzWFA7gCtJx4j7A5GDwJ1s7aycGCq3vR1LwNR0ttLJpEnUvcuQtz-">Signal</a>, or on the <a rel="me" href="https://cathode.church/@ooze">Fediverse</a>.</p>

      <p><a href="./what-i-use/">What I use</a></p>
    </main>
  </body>
</html>
