<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zoé Cassiopée ✨</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Zoe is now ooze and also a hacker from Montreal, Canada">
    <link rel="stylesheet" href="{{ '/css/index.css' | htmlBaseUrl }}">
  </head>
  <body>
    <main>
      <header>
        <h1>
          <picture class="avatar">
            <img src="{{ 'img/avatar.jpg' | htmlBaseUrl }}" alt="Zoe's avatar" width="160" height="160">
          </picture>
        </h1>
      </header>

      <h1>Hi, my name is Zoé!</h1>
      <p>I love making coffee, I'm a modular synthesizer apprentice, and a mechanical keyboard enthusiast.</p>
      <p>I'm a software developer by experience and will write various scripts, hacks, and patches from time to time. You might find some of those on my <a href="https://git.blorp.dev/zo">personal Gitea server</a>.</p>

      <div class="posts">
        <h2>Posts</h2>
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
      </div>

      <p>You can reach me by <a href="mailto:hello@blorp.dev">email</a>, <a href="https://signal.me/#eu/21oZVmw1GZJWzWFA7gCtJx4j7A5GDwJ1s7aycGCq3vR1LwNR0ttLJpEnUvcuQtz-">Signal</a>, or via DM on the <a rel="me" href="https://cathode.church/@ooze">Fediverse</a>.</p>

      <p>See also <a href="https://en.pronouns.page/@zoeisnowooze">my pronouns</a> and <a href="{{ 'what-i-use/' | htmlBaseUrl }}">the gear I use</a>.</p>
    </main>
  </body>
</html>
