<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="canonical" href="{{ page.url | htmlBaseUrl("https://blorp.dev/") }}">
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ title or renderData.title or metadata.title | escape }}">
    <meta property="og:url" content="{{ page.url | escape }}">
    <meta property="og:description" content="{{ description or renderData.description | escape }}">
    <meta property="og:image" content="/img/avatar.jpg">
    <meta property="og:type" content="article">
    <link rel="stylesheet" href="{{ '/css/index.css' | htmlBaseUrl }}">
    <link rel="stylesheet" href="{{ '/css/prism-witchhazel.hypercolor.css' | htmlBaseUrl }}">
  </head>
  <body>
    <header>
      <div class="home"><a href="{{ '/' | htmlBaseUrl }}">Back to home page</a></div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>
